<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/menuBar.ejs %>
    <div id = "wrapper">
      <div id="logo">Learn HTML</div>
    </div>

  </body>
</html>
