<link rel='stylesheet' href='/stylesheets/menuBar.css'/>
<script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<div id='cssmenu' style="margin: 0">
    <ul>
        <li class='active' id="learn"><a href='/'>Learn</a></li>
        <li id = "code"><a href='/code'>Code</a></li>
        <li id = company"><a href='#'>Company</a></li>
        <li id ="contact"><a href='#'>Contact</a></li>
    </ul>
</div>

<script>

    //TODO once other pages are up fix menu bar

    if (window.location.href == "http://localhost:3000/code") {
        $("#code").toggleClass("active");
        $("#code").siblings().removeClass("active");
    }

    if (window.location.href == "http://localhost:3000") {
        $("#learn").toggleClass("active");
        $("#learn").siblings().removeClass("active");
    }
    
</script>