<link rel='stylesheet' href='/stylesheets/menuBar.css'/>

<div id='cssmenu' style="margin: 0">
    <ul>
        <li class='active'><a href='#'>Learn</a></li>
        <li><a href='/code'>Code</a></li>
        <li><a href='#'>Company</a></li>
        <li><a href='#'>Contact</a></li>
    </ul>
</div>
